In [6]:
import pandas as pd
import mysql.connector
from pprint import pprint

db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Nirmal9699',
    database = 'youtube_data'
)

cur = db.cursor()
db.commit()

In [18]:
def qust_1():
    sql = """WITH SQ AS (
            SELECT *
            FROM video_ids vi
            JOIN video_details vd
            ON vi.Video_Ids = vd.Video_Id )
            SELECT cd.Channel_Name, sq.Video_Name
            FROM channel_details cd
            JOIN SQ sq USING (Channel_Id)"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'VIDEO_NAME']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_1())

      CHANNEL_NAME                                         VIDEO_NAME
1   Gedura Academy                                    இலக்கு மாற்றாதே
2   Gedura Academy              #businesscommunication #kvs Narayanan
3   Gedura Academy  சுலபமான செயல் என்ன? #businesscommunication #kv...
4   Gedura Academy                    Business Language@KVS Narayanan
5   Gedura Academy                                        6 July 2023
6   Gedura Academy                                        5 July 2023
7   Gedura Academy                                        4 July 2023
8   Gedura Academy           PHARMA SALES PSYCHOLGY Book Launch event
9   Gedura Academy        What are the 5 Basics of Pharma Marketing ?
10  Gedura Academy                                       Testimonials
11  Gedura Academy                      K.V.S.Narayanan  Introduction
12  Gedura Academy             Pharmaceutical Insights -KVS Narayanan

In [21]:
def qust_2():
    sql = """WITH SQ AS (
            SELECT *
            FROM video_ids vi
            JOIN video_details vd
            ON vi.Video_Ids = vd.Video_Id )
            SELECT cd.Channel_Name, COUNT(sq.Video_Id) AS video_count 
            FROM channel_details cd JOIN SQ sq
            ON cd.Channel_Id = sq.Channel_Id 
            GROUP BY cd.Channel_Name 
            ORDER BY video_count DESC"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'VIDEO_COUNT']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_2())

     CHANNEL_NAME  VIDEO_COUNT
1  Gedura Academy           12

In [23]:
def qust_3():
    print("TOP 10 CHANNEL VIEWS")
    sql = """WITH SQ AS (
            SELECT *
            FROM video_ids vi
            JOIN video_details vd
            ON vi.Video_Ids = vd.Video_Id )
            SELECT cd.Channel_Name,sq.Video_Name,sq.View_Count 
            FROM SQ sq JOIN channel_details cd 
            ON sq.Channel_Id = cd.Channel_Id
            ORDER BY sq.View_Count DESC 
            LIMIT 10"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'VIDEO_NAME', 'VIEW_COUNT']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_3())

TOP 10 CHANNEL VIEWS
      CHANNEL_NAME                                         VIDEO_NAME  \
1   Gedura Academy                      K.V.S.Narayanan  Introduction
2   Gedura Academy                    Business Language@KVS Narayanan
3   Gedura Academy                                        5 July 2023
4   Gedura Academy        What are the 5 Basics of Pharma Marketing ?
5   Gedura Academy             Pharmaceutical Insights -KVS Narayanan
6   Gedura Academy                                    இலக்கு மாற்றாதே
7   Gedura Academy  சுலபமான செயல் என்ன? #businesscommunication #kv...
8   Gedura Academy                                        6 July 2023
9   Gedura Academy              #businesscommunication #kvs Narayanan
10  Gedura Academy                                        4 July 2023

    VIEW_COUNT
1          375
2          289
3          202
4          176
5          164
6          139
7          114
8           55
9           53
10          53

In [27]:
def qust_4():
    sql = """SELECT Video_Name, Comment_Count 
            from video_details 
            ORDER BY comment_count DESC"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['VIDEO_NAME', 'COMMENT_COUNT']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_4())

                                           VIDEO_NAME  COMMENT_COUNT
1                       K.V.S.Narayanan  Introduction              4
2               #businesscommunication #kvs Narayanan              1
3              Pharmaceutical Insights -KVS Narayanan              1
4                                     இலக்கு மாற்றாதே              0
5   சுலபமான செயல் என்ன? #businesscommunication #kv...              0
6                     Business Language@KVS Narayanan              0
7                                         6 July 2023              0
8                                         5 July 2023              0
9                                         4 July 2023              0
10           PHARMA SALES PSYCHOLGY Book Launch event              0
11        What are the 5 Basics of Pharma Marketing ?              0
12                                       Testimonials              0

In [31]:
def qust_5():
    sql = """WITH SQ AS (
            SELECT *
            FROM video_ids vi
            JOIN video_details vd
            ON vi.Video_Ids = vd.Video_Id )
            SELECT cd.Channel_Name, sq.Video_Name, sq.Like_Count 
            FROM SQ sq JOIN channel_details cd 
            ON sq.Channel_Id = cd.Channel_Id 
            ORDER BY sq.Like_Count DESC"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'VIDEO_NAME','LIKE_COUNT']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_5())

      CHANNEL_NAME                                         VIDEO_NAME  \
1   Gedura Academy                      K.V.S.Narayanan  Introduction
2   Gedura Academy        What are the 5 Basics of Pharma Marketing ?
3   Gedura Academy                                    இலக்கு மாற்றாதே
4   Gedura Academy              #businesscommunication #kvs Narayanan
5   Gedura Academy                                        5 July 2023
6   Gedura Academy             Pharmaceutical Insights -KVS Narayanan
7   Gedura Academy                    Business Language@KVS Narayanan
8   Gedura Academy  சுலபமான செயல் என்ன? #businesscommunication #kv...
9   Gedura Academy           PHARMA SALES PSYCHOLGY Book Launch event
10  Gedura Academy                                        6 July 2023
11  Gedura Academy                                        4 July 2023
12  Gedura Academy                                       Testimonials

    LIKE_COUNT
1           20
2           11
3           10
4            8
5            8
6            8
7            5
8            4
9            4
10           2
11           2
12           0

In [34]:
def qust_6():
    sql = """SELECT Video_Name, Like_Count 
            FROM video_details
            ORDER BY Like_Count DESC"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['VIDEO_NAME', 'LIKE_COUNT']).reset_index(drop=True)
    data_df.index += 1
    return data_df

print(qust_6())

                                           VIDEO_NAME  LIKE_COUNT
1                       K.V.S.Narayanan  Introduction          20
2         What are the 5 Basics of Pharma Marketing ?          11
3                                     இலக்கு மாற்றாதே          10
4               #businesscommunication #kvs Narayanan           8
5                                         5 July 2023           8
6              Pharmaceutical Insights -KVS Narayanan           8
7                     Business Language@KVS Narayanan           5
8   சுலபமான செயல் என்ன? #businesscommunication #kv...           4
9            PHARMA SALES PSYCHOLGY Book Launch event           4
10                                        6 July 2023           2
11                                        4 July 2023           2
12                                       Testimonials           0

In [38]:
def qust_7():
    sql = """SELECT Channel_Name, Channel_views
            FROM channel_details
            ORDER BY Channel_Views DESC"""
    cur.execute(sql)
    data= cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'CHANNEL_VIEWS']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_7())

     CHANNEL_NAME  CHANNEL_VIEWS
1  Gedura Academy           1685

In [42]:
def qust_8():
    sql = """WITH SQ AS (
            SELECT *
            FROM video_ids vi
            JOIN video_details vd
            ON vi.Video_Ids = vd.Video_Id )
            SELECT cd.Channel_Name, sq.Video_Name, sq.PublishedAt 
            FROM channel_details cd JOIN SQ sq 
            ON cd.Channel_Id = sq.Channel_Id
            WHERE EXTRACT(YEAR FROM sq.PublishedAt) = 2022"""
    cur.execute(sql)
    data= cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'VIDEO_NAME', 'VIDEO_2022']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_8())

     CHANNEL_NAME                                   VIDEO_NAME  \
1  Gedura Academy  What are the 5 Basics of Pharma Marketing ?

           VIDEO_2022
1 2022-04-03 06:45:37

In [44]:
def qust_9():
    sql = """WITH SQ AS (
            SELECT *
            FROM video_ids vi
            JOIN video_details vd
            ON vi.Video_Ids = vd.Video_Id )
            SELECT cd.Channel_Name, ROUND(AVG(sq.Duration),2) AS average_duration 
            FROM channel_details cd JOIN SQ sq 
            ON cd.Channel_Id = sq.Channel_Id 
            GROUP BY cd.channel_name 
            ORDER BY average_duration DESC"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'AVERAGE_DURATION']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_9())

     CHANNEL_NAME AVERAGE_DURATION
1  Gedura Academy           115.67

In [45]:
def qust_10():
    sql = """WITH SQ AS (
            SELECT *
            FROM video_ids vi
            JOIN video_details vd
            ON vi.Video_Ids = vd.Video_Id )
            SELECT cd.Channel_Name, sq.Video_Name, sq.Comment_Count 
            FROM SQ sq 
            JOIN channel_details cd 
            ON cd.Channel_Id = sq.Channel_Id
            ORDER BY comment_count DESC"""
    cur.execute(sql)
    data = cur.fetchall()
    data_df = pd.DataFrame(data, columns=['CHANNEL_NAME', 'VIDEO_NAME','COMMENT_COUNT']).reset_index(drop=True)
    data_df.index += 1
    return data_df

pprint(qust_10())

      CHANNEL_NAME                                         VIDEO_NAME  \
1   Gedura Academy                      K.V.S.Narayanan  Introduction
2   Gedura Academy              #businesscommunication #kvs Narayanan
3   Gedura Academy             Pharmaceutical Insights -KVS Narayanan
4   Gedura Academy                                    இலக்கு மாற்றாதே
5   Gedura Academy  சுலபமான செயல் என்ன? #businesscommunication #kv...
6   Gedura Academy                    Business Language@KVS Narayanan
7   Gedura Academy                                        6 July 2023
8   Gedura Academy                                        5 July 2023
9   Gedura Academy                                        4 July 2023
10  Gedura Academy           PHARMA SALES PSYCHOLGY Book Launch event
11  Gedura Academy        What are the 5 Basics of Pharma Marketing ?
12  Gedura Academy                                       Testimonials

    COMMENT_COUNT
1               4
2               1
3               1
4               0
5               0
6               0
7               0
8               0
9               0
10              0
11              0
12              0